.card {
  width: 33.3333%;
  display: flex;
  padding-top: 3%;
  .image {
    width: 50%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .info {
    width: 50%;
    padding: 3%;
  }
}
button {
  background-color: black;
}
